.location-list {
    position: fixed;
    z-index: 4;
    width: 18vw;
    top: 25vh;
    right: 18vw;
    height: 300px;
    display: flex;
    justify-content: top;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
}

.map-header {
    position: absolute;
    top: 18vh;
    left: 2.5vw;
    text-align: right;
    margin-right: 30px;
    transition: .5s;
    font-size: 50px;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.location-el {
    text-align: right;
    margin-right: 30px;
    transition: .5s;
    font-size: 20px;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.location-el:hover {
    cursor: pointer;
    transition: .5s;
    transform: translateX(-5px);
    text-shadow: 0 0 5px #fff;
}

.location-el-active {
    cursor: pointer;
    transition: .5s;
    transform: translateX(-5px);
    text-shadow: 0 0 5px #fff;
}

@media screen and (max-width: 800px){
    .location-list {
        position: absolute;
        bottom: 0;
        z-index: 3;
        width: 99vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
        flex-direction: column;
        gap: 20px;
        background-color: #000000a0;
    }

    .location-el {
        width: 15%;
        text-align: center;
        font-size: auto;
        font-size: medium;
    }
}