.info-container {
    z-index: 4;
}

.informator {
    display: flex;
    flex-direction: column;
    width: 35vw;
    z-index: 4;
    height: 100vh;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    height: 50vh;
    margin-bottom: 20vh;
    margin-left: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-header {
    display: flex;
    justify-content: left;
    text-align: left;
    margin-top: 15vh;
    font-size: 2.2em;
    font-weight: bold;
}

.content-text {
    margin-top: 40px;
    width: 30vw;
    height: 100vh;
    overflow: hidden;
    display: inline-block;
    opacity: 0;
}

.read-more {
    z-index: 3;
    transition: .5s;
    margin-top: 20px;
    color: #fff;
    border-radius: 50px;
    height: 20vh;
    border: none;
    text-decoration: none;
}

.read-more:hover {
    cursor: pointer;
    transition: .5s;
    transform: translateY(-3px);
    text-shadow: 0 0 5px #fff;
}

.read-more-fade {
    color: #b4b4b4;
}

.read-more-container {
    transition: .5s;
    width: 40vw;
    height: 50vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.read-more-content-text {
    margin-top: 40px;
}

.content-text-more {
    overflow: auto;
    display: flex;
}

.informator-red-more {
    width: 30vw;
}

@media screen and (max-width: 800px){
    .info-container {
        width: 100vw;
        position: absolute;
        bottom: 20vh;
        background: #000000a0;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: bottom;
        z-index: 3;
    }

    .content-header {
        margin-top: 30px;
    }

    .content {
        margin: 5px;
        height: 20vh;
    }

    .informator {
        width: 99vw;
        height: 20vh;
    }

    .content-text {
        width: 100%;
        margin: 5px;
        overflow: initial;
        display: flex;
        font-size: small;
    }
}