.career-container {
    z-index: 0;
    width: 35vw;
    height: 68vh;
    margin-top: 5vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background:radial-gradient(#ff000079, transparent);
    padding-bottom: 40px;
}

.music-career-header {
    background: linear-gradient(90deg, #ffffff46, transparent);
    padding-left: 20px;
    transition: .5s;
    margin-left: 0;
    text-align: left;
    display: flex;
    align-items: start;
    justify-content: left;
    font-size: 40px;
    color: #c71e1e;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.politics-background {
    position: absolute;
    z-index: -1;
    width: 99vw;
    height: 100.2vh;
}

.birth-svg {
    color: #fff;
    width: 150px;
    height: 150px;
}

.career-element {
    margin-left: 20px;
    margin-top: 20px;
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .politics-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .career-container {
        margin-top: 10vh;
        margin-right: 5vw;
        width: 90vw;
    }

    .politics-background {
        height: 0;
        width: 0;
    }
}