.navbar {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 3;
    width: 10vw;
}

.navbar-list {
    position: fixed;
    top: 20vh;
    right: 4vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.navbar-el {
    margin-right: 20px;
    font-size: 20px;
}

.navbar-el:hover {
    cursor: pointer;
    text-shadow: 0 0 5px #fff;
}

.menu-btn {
    transition: .5s;
    cursor: pointer;
    color: #ffffff63;
    width: 30px;
    height: 30px;
    position: fixed;
    padding: 10px;
    top: 50px;
    right: 50px;
    opacity: 1;
}

.menu-btn:hover {
    transition: .5s;
    color: #fff;
}

.close-btn {
    cursor: pointer;
    position: fixed;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    color: #ffffff63;
}

.close-btn:hover {
    transition: .5s;
    color: #fff;
}

.point {
    position: absolute;
    top: 12vh;
    right: 0vw;
    font-size: 30px;
    text-shadow: 0 0 10px #fff;
}

.navbar-el-active {
    text-shadow: 0 0 5px #fff;
}

@media only screen and (max-width: 768px) {
    
    .navbar {
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .navbar-list {
        flex-direction: column;
        align-items: right;
        justify-content: right;
        text-align: right;
        background-color: #00000079;
        border-radius: 5px;
        box-shadow: 0 0 10px #00000080;
        width: 100vw;
    }

    .navbar-list.show {
        display: flex;
    }

    .navbar-el {
        margin: 5px 0;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .menu-btn {
        padding: 50px;
    }
}