.career-box {
    display: flex;
    width: 99vw;
    height: 100vh;
    align-items: right;
    justify-content: right;
}

.career-background {
    position: absolute;
    width: 60vw;
    height: 100vh;
    background: linear-gradient(90deg, transparent, #000000a1, #000000df);
    display: flex;
    align-items: center;
    justify-content: right;
}

.career-el {
    padding-bottom: 5vh;
}

.career-timeline-box {
    width: 40vw;
    margin-top: 20vh;
    margin-right: 5vw;
    overflow: auto;
    display: inline-block;
}

.career-header {
    position: absolute;
    z-index: 1;
    right: 23vw;
    top: 8vh;
    font-size: 60px;
    color: #c71e1e;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.career-year {
    margin: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.read-more-timeline {
    z-index: 3;
    transition: .5s;
    margin-top: 10px;
    color: #fff;
    border-radius: 50px;
    border: none;
    text-decoration: none;
}

.read-more-timeline:hover {
    cursor: pointer;
    transition: .5s;
    transform: translateY(-3px);
    text-shadow: 0 0 5px #fff;
}

.gray {
    color: #ffffff86;
    overflow: hidden;
    display: inline-block;
}

@media screen and (max-width: 800px) {
    .career-music-background {
        height: 0;        
    }

    .career-timeline-box {
        width: 99vw;
        z-index: 4;
    }

    .career-background {
        width: 0;
        height: 0;
    }
}